.button
  @extend .pad-t-5, .pad-r-3, .pad-b-5, .pad-l-3
  @extend .nest-4
  position relative
  display inline-block
  border 3px solid
  color inherit
  text-decoration none
  text-transform uppercase
  border-radius 500px
  font-family Montserrat-Bold
  font-size 0.9em
  z-index 2
  
  &.sub-outline-dark
    &:after
      content ''
      display block
      position absolute
      top -3px
      right -3px
      bottom -3px
      left -3px
      z-index 2
      border-radius inherit
      border 3px solid
      color inherit
    &:hover
    &:active
      &:before
        content ''
        display block
        position absolute
        top -6px
        right -6px
        bottom -6px
        left -6px
        background rgba(0,0,0, 0.15)
        z-index -2
        border-radius inherit
  
  &.sub-solid
    background green
    border none
    color white
    &:hover
    &:active
      box-shadow 0 0 0 3px rgba(green, 0.25)
    
  &.sub-large
    font-size 1.2em