.button
  @extend .pad-t-5, .pad-r-2, .pad-b-5, .pad-l-2
  display inline-block
  border 3px solid
  color inherit
  text-decoration none
  text-transform uppercase
  border-radius 500px
  font-family Montserrat-Bold