.project

  &.sub-primary
    @extend .nest-1
    color black-tint-3

    .section.sub-project:nth-child(odd) &
      figure:not(.sub-chaat20)
        margin-right -60%
        img
          width 100%
          max-width 800px

    .section.sub-project:nth-child(even) &
      .grid-items
        direction rtl
      .col
        direction ltr
        
      .project-body-figure
        text-align right
        figure
          margin-left -60%
          img
            width 100%
            max-width 800px
        
    .project-header
      @media (max-width: 768px)
        text-align left

    .project-body-content
      @extend .nest-3
      @extend .pad-b-1
      @media (max-width: 768px)
        padding-bottom 0
      
    .col
      @media (max-width: 768px)
        display block
        
  &.sub-secondary
    @extend .nest-3, .pad-3

    .project-header-logo
      max-width 14em
      max-height 7em
      
.project-header
  text-align center

.project-header-title
  &.state-hidden
    opacity 0
    position absolute

.project-header-logo
  null
  
.project-body
  null
  
.project-body-content
  vertical-align middle
  
.project-body-figure
  text-align center
  vertical-align bottom
  line-height 0
