.social
  @extend .nest-2
  display block
  padding 0
  max-width 500px
  margin 0 auto
  
.social-link
  display block
  width 2.25em
  background-size cover
  border-radius 500px
  padding 0.15em
  border 3px solid transparent
  background-repeat no-repeat
  &:after
    content ''
    padding-top 100%
    display block
  &:hover
  &:active
    background-color rgba(0,0,0, 0.15)
    
  &.sub-twitter
    background-image url(img_dir + 'icon-twitter.svg')
  &.sub-dribbble
    background-image url(img_dir + 'icon-dribbble.svg')
  &.sub-linkedin
    background-image url(img_dir + 'icon-linkedin.svg')
  &.sub-rdio
    background-image url(img_dir + 'icon-rdio.svg')
  &.sub-instagram
    background-image url(img_dir + 'icon-instagram.svg')
