.section
    @extend .pad-1, .nest-1
  &.sub-megaHello
    height 100vh
    width 100vw
    display table-cell
    vertical-align middle
  &.sub-intro
    background black-tint-3
    text-align center
  &.sub-project
    padding-bottom 0
    overflow hidden
  &.sub-projects.sub-secondary
    null
  &.sub-footer
    null
    
  &.sub-coffeedesign { background: blue }
  &.sub-wazoo        { background: orange }
  &.sub-chaat20      { background: purple }
  &.sub-bigkc        { background: yellow }
  &.sub-ebcfo        { background: blue-tint-1 }
  &.sub-30days       { background: black-tint-1 }
    
.section-content
  max-width 1000px
  margin 0 auto