@keyframes hello
  0%
    height 100vh
    color green
  100%
    height 40vh
    background green
    color white

@keyframes hello-text
  0%
    font-size 20vw
  100%
    font-size 6vw

.section
  @extend .pad-1, .nest-1
  &.sub-megaHello
    color green
    width 100vw
    height 100vh
    display table-cell
    vertical-align middle
    animation hello 0.25s 1.5s ease-in-out forwards
    .sub-huge
      font-size 20vw
      line-height 1
      @media (min-width: 768px)
        animation hello-text 0.25s 1.5s ease-in-out both
  &.sub-intro
    height 60vh
    overflow hidden
    background black-tint-3
    text-align center
    vertical-align middle
  &.sub-project
    padding-bottom 0
    overflow hidden
  &.sub-projects.sub-secondary
    .col
      vertical-align bottom
      width 33.333%
      text-align center
      @media (max-width: 960px)
        width 50%
      @media (max-width: 640px)
        width 100%

  &.sub-coffeedesign
    background blue
  &.sub-wazoo
    background orange
  &.sub-chaat20
    background purple
  &.sub-bigkc
    background yellow
  &.sub-ebcfo
    background blue-tint-1
  &.sub-30days
    background black-tint-1
  &.sub-footer
    font-family OpenSans-Light
    background green
    color white
    text-align center
    
  &.sub-30days-intro
    background black
    color white
    text-align center
  &.sub-30days
    @extend .nest-6, .pad-6
    .col
      width (100/4)%
      @media (max-width: 960px)
        width (100/3)%
      @media (max-width: 480px)
        width (100/2)%
      @media (max-width: 320px)
        width (100/1)%
      img
        display block
        transition all 0.25s ease-in-out
    
.section-content
  max-width 860px
  margin-right auto
  margin-left auto
  height 100%
  &.sub-wide
    max-width 1024px
  &.sub-narrow
    max-width 640px