html
  font 100%/1.5 "OpenSans-Regular"

h1
.h1
h2
.h2
h3
.h3
h4
.h4
h5
.h5
h6
.h6
  font-family Montserrat-Bold
  line-height 1.2
  p
    font-size 0.5em
    font-family OpenSans-Regular
    text-transform none
  
h1
.h1
h2
.h2
h3
.h3
h4
.h4
  text-transform uppercase
  
.sub-huge
  font-size 20vw
  color green
  line-height 1