html
  font 100%/1.5 "OpenSans-Regular"
  font-weight normal
  color black
  @media (max-width: 768px)
    font-size 95%
    
a
  color inherit

h1
.h1
h2
.h2
h3
.h3
h4
.h4
h5
.h5
h6
.h6
  font-family Montserrat-Bold
  line-height 1.35
  p
    font-size 0.5em
    font-family OpenSans-Light
    text-transform none
  
h1
.h1
h2
.h2
h3
.h3
h4
.h4
  text-transform uppercase
  
.lowercase
  text-transform lowercase
