---
title: 30days
---

.stickies
  .sticky.sub-red
    img(src=site.url + 'images/projects/figures/figure-30days-1.svg')
  .sticky.sub-green
    img(src=site.url + 'images/projects/figures/figure-30days-2.svg')
  .sticky.sub-yellow
    img(src=site.url + 'images/projects/figures/figure-30days-3.svg')