green        = #39BB9D
blue         = #2E4599
blue-tint-1  = #1E75BB
orange       = #F06F4F
purple       = #7B4562
yellow       = #EDAE00
black        = #333333
black-tint-1 = #535353
black-tint-2 = #999999
black-tint-3 = #F6F6F6