@font-face
  font-family: 'Montserrat-Bold'
  src url(fonts_dir + 'Montserrat-Bold.woff') format('woff')

@font-face
  font-family 'OpenSans-Regular'
  src url(fonts_dir + 'OpenSans-Regular.woff') format('woff')

@font-face
  font-family 'OpenSans-Bold'
  src url(fonts_dir + 'OpenSans-Bold.woff') format('woff')
    