headingScale( ratio = 1.2, shift = 0, top = 1, bottom = 0 )

  for i in (1..6)
    h{i},
    .h{i}
      power = 6 - (i - shift)
      size = (ratio**power)em
      font-size size
      margin (ratio/size)*top 0 (ratio/size)*bottom
    $h{i},
    .h{i}
      power = 6 - (i - shift)
      size = (ratio**power)em
      font-size size

headingScale(1.5, -1.5)
