@font-face {
    font-family: 'OpenSans-Light';
    src:url("../fonts/OpenSans-Light.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat-Bold';
    src:url("../fonts/Montserrat-Bold.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Regular';
    src:url("../fonts/OpenSans-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}
