<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title= document.title
  != getBlock("meta").toHTML()
  != getBlock("styles").add(site.styles).toHTML()

body
  != content
  != getBlock("scripts").add(site.scripts).toHTML()
  