<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title= document.title
  != getBlock("meta").toHTML()
  != getBlock("styles").add(["/styles/index.css"]).toHTML()
  base(target="_blank")
body
  != content
  != getBlock("scripts").add(site.scripts).toHTML()
  