<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no, width=device-width")
    title= document.title
    != getBlock("meta").toHTML()
    != getBlock("styles").add(site.preparedFilesPath(site.url, site.styles)).toHTML()

  body(class=document.slug)
    != content
    != getBlock("scripts").add(site.preparedFilesPath(site.url, site.scripts)).toHTML()
  